html
  head
    title!= title
    meta(name='google-site-verification' content='iKTiK3sFOIhzM4Sp4oxUkeFWEqHopTuDLwD1cXmAzNY')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet')
    link(href='/stylesheets/normalize.css', rel='stylesheet')
    link(href='/stylesheets/index.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css' rel='stylesheet')

  body
    div#map
    form(action='google-maps-action' method='post')
      div.form-group
        label(for='place_1') Address
        input(type='text' name='place_1' id='place_1' value='#{params.place_1}' autocomplete='off' placeholder='Search for an address')
      div.form-group
        label(for='items') Items
        input(type='number' name='items' id='items' value='#{params.items}' autocomplete='off' min="1" max="500")
      input(type='hidden' name='local' id='local' value='')
      input(type='hidden' name='markers' id='markers' value='#{params.markers}')
      input(type='submit' value='generate')
    div.coding_area.hidden#code
    script(src="https://maps.googleapis.com/maps/api/js?key=#{env.API_KEY}")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js")
    if env.NODE_ENV === 'production'
      script(src="javascripts/bundle.js")
    else
      script(src="http://localhost:8000/assets/bundle.js")
